/*
# winTotalPlot.R
# Author: Mark Randall
# Date: 11 June 2025
# Plots the Game and Win  over recorded time 
# of the collected data by battle or ship
# Moment does not work. TODO investigate
*/
.container {
  margin: 0 ;
  padding : 0 2% 0 2%;
  width : 100vw;
}
/*
.tabbable{
  width : 100vw;
  height : 80vh;
}

.col-sm-10{
  width :80vw;
}

.row{
  width: 100%;
}
*/